<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"/>
    <link href="/metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="/metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/metronic/global/css/components.min.css" rel="stylesheet" id="style_components"/>
    <link href="/metronic/global/css/plugins.min.css" rel="stylesheet"/>
    <link href="/metronic/pages/css/error.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.png"/>
</head>
<body class="page-500-full-page">
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number font-red">500</div>
        <div class="details">
            <h3>警告!{{message}}</h3>
            <p>我们正在解决这个问题!请稍后再试
                <br/>
            </p>
            <p>
                <a href="/index" class="btn red btn-outline">主页</a>
                <br>
            </p>
        </div>
    </div>
</div>
<!-- script -->
<!--[if lt IE 9]>
<script src="/metronic/global/plugins/respond.min.js"></script>
<script src="/metronic/global/plugins/excanvas.min.js"></script>
<script src="/metronic/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<script src="/metronic/global/plugins/jquery.min.js"></script>
<script src="/metronic/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/metronic/global/plugins/js.cookie.min.js"></script>
<script src="/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/metronic/global/plugins/jquery.blockui.min.js"></script>
<script src="/metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="/metronic/global/scripts/app.js"></script>
</body>
</html>