{% extends 'layouts/layout.njk' %}

{% block content %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0)">主页</a>
        </li>
    </ul>
</div>

<h3 class="page-title">主页</h3>

<div class="note note-info">
    <p2>Welcome to the insurance policy!</p2>
</div>
{% endblock %}