{% extends 'layouts/form.njk' %}

{% block breadcrumb %}
<li>
    <span>保单无忧</span>
    <i class="fa fa-circle"></i>
</li>
<li>
    <a href="/bespoke/page">预约服务</a>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span>预约服务创建</span>
</li>
{% endblock %}

{% block title %}预约服务创建{% endblock %}

{% block note %}创建预约服务{% endblock %}

{% block group %}
<div class="form-group  margin-top-20">
    <label class="control-label col-md-3">预约内容
        <span class="required">*</span>
    </label>
    <div class="col-md-4">
        <textarea name="content" style="width:100%; height:100px; resize:none;"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">手机号
        <span class="required">*</span>
    </label>
    <div class="col-md-4">
        <div class="input-icon right">
            <i class="fa"></i>
            <input type="text" class="form-control" name="mobile" autocomplete="off"/>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/bespoke/create.js"></script>
{% endblock %}