{% extends 'layouts/page.njk' %}

{% block breadcrumb %}
<li>
    <span>全民经纪</span>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span>预约赴港</span>
</li>
{% endblock %}

{% block title %}预约赴港{% endblock %}

{% block note %}查看所有预约赴港信息{% endblock %}

{% block table %}
{% from "kits/dtb.njk" import dtb %}
{{
    dtb([
        {width: '5%', value: '手机号', name: 'mobile'},
        {value: '航班号', name: 'flightNumber'},
        {value: '随行人数'},
        {value: '航班日期'},
        {width: '6%', value: '状态'}
    ])
}}
{% endblock %}

{% block js %}
<script src="/js/appointment/page.js"></script>
{% endblock %}