{% extends 'layouts/form.njk' %}

{% block breadcrumb %}
<li>
    <span>权限管理</span>
    <i class="fa fa-circle"></i>
</li>
<li>
    <a href="/role/page">角色管理</a>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span>角色创建</span>
</li>
{% endblock %}

{% block title %}角色创建{% endblock %}

{% block note %}创建角色{% endblock %}

{% block group %}
<div class="form-group  margin-top-20">
    <label class="control-label col-md-3">名称
        <span class="required">*</span>
    </label>
    <div class="col-md-4">
        <div class="input-icon right">
            <i class="fa"></i>
            <input type="text" class="form-control" name="name" autocomplete="off"/>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">描述
        <span class="required">*</span>
    </label>
    <div class="col-md-4">
        <div class="input-icon right">
            <i class="fa"></i>
            <input type="text" class="form-control" name="describe" autocomplete="off"/>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/role/create.js"></script>
{% endblock %}