{% extends 'layouts/detail.njk' %}

{% block breadcrumb %}
<li>
    <span>全民经纪</span>
    <i class="fa fa-circle"></i>
</li>
<li>
    <a href="/order/page">订单详情</a>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span>补充资料</span>
</li>
{% endblock %}

{% block title %}补充资料详情{% endblock %}

{% block note %}查看补充资料信息{% endblock %}

{% block tab %}
<li class="active">
    <a href="#tab_1" data-toggle="tab">内容</a>
</li>
{% endblock %}

{% block tabContent %}
<div class="tab-pane active" id="tab_1">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet green box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>详细内容
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-5 name">内容</div>
                        <div class="col-md-7 value">{{bean.content}}</div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-5 name">补充资料截图</div>
                        <div class="col-md-7 value">
                            {% for item in supplementImgList %}

                                {% from 'kits/preview.njk' import preview %}
                                {{
                                preview(item.img)
                                }}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}